# Dependencies
node_modules/
.pnp
.pnp.js
 
# Environment
.env*.local
.env
 
# Next.js
.next/
out/
build/
 
# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
 
# Testing
playwright-report/
test-results/
/coverage
 
# OS
.DS_Store
*.pem
Thumbs.db
 
# IDE
.vscode/*.log
*.swp
 
# Misc
*.log
